:root {
  font-size: 26px;
}

* {
  margin: 0;
  padding: 0;
}

.Title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 2em;
}

#prev {
  background: #cca5ff;
  border: 0;
  padding: 10px 35px;
  border-radius: 8px;
  font-size: 1.04rem;
}
