:root {
  font-size: 26px;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.Title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 2em;
}

#prev {
  background: #cca5ff;
  border: 0;
  padding: 10px 35px;
  border-radius: 8px;
  font-size: 1.04rem;
  position: absolute;
  top: 10px;
}

.wrap {
  width: 95%;
  display: flex;
  margin: 40px;
}

img {
  width: 400px;
  height: 400px;
  margin-top: 100px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonContainer > button {
  background: #e5beec;
  border: 0;
  width: 50%;
  height: 100px;
  color: #917fb3;
  font-size: 1.2em;
  border-radius: 10px;
  transition: 0.3s;
}

.buttonContainer > button:nth-child(2n) {
  margin-left: 85%;
}

.buttonContainer > button:hover {
  color: #000;
  transform: scale(1.01);
  cursor: pointer;
}
