<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>{{title}}</title>
    <script src="/script/app.js" defer></script>
  </head>

  <body>
    <header>
      <h2 class="Title">상 담 실</h2>
    </header>
    <div class="banner">
      <div class="banner_TextBox showBanner">
        <p class="show_CounselingRoom first_Text">
          서울디지텍고등학교 상담사이트
        </p>
        <h3 class="Title_CounselingRoom">상담실 예약 웹 사이트</h3>
        <p class="show_CounselingRoom">상담을 조금 더 편하게 하고 싶나요?</p>
        <p class="show_CounselingRoom">
          상담을 조금 더 쉽게 신청하고 관리 해보세요.
        </p>
      </div>
      <div class="showInterface">
        <div class="descriptionImg">
          <div class="easy bannerImg">
            <img src="../images/Group 4.png" alt="간편한 인터페이스" />
            <p>
              간편한
              <br />
              사용자 인터페이스
            </p>
          </div>
          <div class="System bannerImg">
            <img src="../images/Group 5.png" alt="관리 시스템" />
            <p>한 눈에 알 수 있는 <br />예약 관리 시스템</p>
          </div>
          <div class="goldTime bannerImg">
            <img src="../images/Group 6.png" alt="시간 절약" />
            <p>
              시간을 절약 하는
              <br />
              최고의 방법
            </p>
          </div>
        </div>
      </div>
      <div class="moveBtn_box">
        <button class="moveBtn" id="studentBtn" type="button">
          학생용 예약 사이트
        </button>
        <button class="moveBtn" id="teacherBtn" type="button">
          선생님용 관리 사이트
        </button>
      </div>
    </div>
    <div class="descriptionText" id="descriptionStudent">
      <h3>손쉬운 온라인 예약 시스템</h3>
      <p>직접 가서 신청하는 것은 이제 그만!</p>
      <p>이제 웹에서 쉽게 신청해보세요</p>
      <div class="linkLine">
        <a href="studentPage">학생용 예약 사이트</a>
      </div>
    </div>
    <div class="descriptionText" id="descriptionTeacher">
      <h3>손쉬운 예약 관리 시스템</h3>
      <p>굳이 힘들 게 학생들을 확인 할 필요는 없습니다.</p>
      <p>이제 웹에서 쉽게 관리해봐요</p>
      <div class="linkLine">
        <a href="teacherLogin">선생님용 관리 사이트</a>
      </div>
    </div>
    <div class="moveLink">
      <h2>지금 바로 사용해 보세요!</h2>
      <div class="linkBox">
        <div class="linkLine">
          <a href="studentPage">학생용 예약 사이트</a>
        </div>
        <div class="linkLine">
          <a href="teacherLogin">선생님용 관리 사이트</a>
        </div>
      </div>
    </div>
  </body>

</html>