<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../JavaScript/reservation.js" defer></script>
    <link rel="stylesheet" href="../css/reservation.css" />
    <title>예약하기 페이지</title>
  </head>

  <body>
    <div class="container">
      <a href="studentPage">
        <button type="button" class="prev">< prev</button>
      </a>
      <div class="selectTime">
        <form action="#" class="reservation">
          <select name="time" id="time">
            <option value="select">시간대 선택</option>
            <option value="1교시">1교시</option>
            <option value="2교시">2교시</option>
            <option value="3교시">3교시</option>
            <option value="4교시">4교시</option>
            <option value="5교시">5교시</option>
            <option value="6교시">6교시</option>
            <option value="7교시">7교시</option>
          </select>
          <button type="button">예약하기</button>
        </form>
        <table>
          <tr>
            <th>시간</th>
            <th>예약 상태</th>
          </tr>
          <tr>
            <td>1교시</td>
            <td>-</td>
          </tr>
          <tr>
            <td>2교시</td>
            <td>-</td>
          </tr>
          <tr>
            <td>3교시</td>
            <td>-</td>
          </tr>
          <tr>
            <td>4교시</td>
            <td>-</td>
          </tr>
          <tr>
            <td>5교시</td>
            <td>-</td>
          </tr>
          <tr>
            <td>6교시</td>
            <td>-</td>
          </tr>
          <tr>
            <td>7교시</td>
            <td>-</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="popup">
      <div class="popupLayer">
        <p class="Result"></p>
        <div class="popupBtn">
          <button type="button">확인</button>
          <button type="button">예약확인하기</button>
        </div>
      </div>
    </div>
  </body>
</html>
