@font-face {
  font-family: 'KIMM_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-size: 26px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e2e2e2;
}

header {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.Title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 2em;
}

#prev {
  background: #cca5ff;
  border: 0;
  padding: 10px 35px;
  border-radius: 8px;
  font-size: 1.04rem;
  position: absolute;
  top: 10px;
}

.wrap {
  width: 95%;
  display: flex;
  margin: 40px;
}

img {
  width: 400px;
  height: 400px;
  margin-top: 100px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonContainer > button {
  border: 1px solid #000;
  width: 50%;
  height: 100px;
  color: #000;
  font-size: 1.2em;
  border-radius: 10px;
  transition: 0.3s;
}

.buttonContainer > button:nth-child(2n) {
  margin-left: 85%;
}

.buttonContainer > button:hover {
  background-color: rgb(43, 43, 43);
  transform: scale(1.01);
  color: #fff;
  cursor: pointer;
}

.reservationContainer {
  display: none;
}

.reservation_cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #000000a1;
  backdrop-filter: blur(2px);
}

.reservationBox {
  background: #e2e2e2;
  width: 550px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.checkCancel {
  text-align: center;
  font-family: 'KIMM_Bold';
}

.checkCancel > button {
  margin: 50px 20px 0 20px;
  background: #cca5ff;
  border: 0;
  width: 40%;
  height: 50%;
  font-size: 1.12em;
  border-radius: 10px;
}
