:root {
  font-size: 26px;
}

* {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
}

body {
  background: #f5f5f5;
}

.wrap {
  position: relative;
  padding: 30px 40px;
  width: 400px;
  height: 600px;
  margin: 60px auto;
  background: #ffffff;
  border-radius: 12px;
}

.wrap > p {
  color: #707070;
  font-size: 16px;
}

.container {
  height: 70%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container > input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  font-size: 0.7em;
}

.container > button {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  background: #19a7ce;
  color: #fff;
  font-size: 1em;
}

.blueContainer {
  border-radius: 12px;
  width: 460px;
  height: 650px;
  background: #0037ff69;
  position: absolute;
  top: 3%;
  z-index: -1;
}
